@import 'galeria.css';
@import 'productos.css';
@import 'navbar.css';
@import 'conocenos.css';
/* *{
    border: red 1px solid;
}
div{
    border: blue 2px solid;
} */
body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    background-color:azure;
}


